@model IEnumerable<Account>

@{
	ViewData["Title"] = "ZASADY I PRYWATNOŚĆ";
}

<div class="subpage__frame mt-5">
    <div class="table__section sm-no-margin">
        <div class="dropdown2" onclick="arrowRotate(arrow__down1)">
            <nav class="finnance__table rules__field opposite mt-4 no-margin" data-bs-toggle="collapse" data-bs-target="#first" aria-controls="first" aria-expanded="false" onclick="toggleDropdownContent()">
                <div>REGULAMIN KORZYSTANIA ZE STRONY</div>
            <button id="arrow__down1" class="button" type="button" aria-label="Toggle navigation">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                </svg>
            </button>
            </nav>
            <div class="collapse mt-4" id="first">
                <div class="content__container">
                    <div class="bold">1. Postanowienia ogólne</div>
                    <p class="mt-2">
                        Niniejszy regulamin określa zasady korzystania ze strony internetowej Budget Manager, dostępnej pod adresem www.bugdetmanager.pl
                        Korzystając ze strony internetowej, użytkownik akceptuje postanowienia niniejszego regulaminu oraz zobowiązuje się do przestrzegania jego treści.
                    </p>
                    <div class="bold">2. Warunki korzystania ze strony</div>
                    <p class="mt-2">
                        Użytkownik nie może wykorzystywać strony w&nbsp;sposób sprzeczny z&nbsp;obowiązującymi przepisami prawa oraz zasadami moralnymi.
                        Strona internetowa ma na celu pomóc użytkownikom w&nbsp;prowadzeniu i&nbsp;analizie swojego budżetu domowego. Użytkownik zobowiązuje się do dostarczania prawdziwych, dokładnych i aktualnych informacji wnbsp;procesie rejestracji oraz podczas korzystania ze strony.
                    </p>
                    <div class="bold">3. Zmiany regulaminu</div>
                    <p class="mt-2">
                        O wszelkich zmianach w regulaminie użytkownicy będą informowani za pośrednictwem wiadomości e-mail.
                    </p>
                </div>
            </div>
        </div>
   </div>
    <div class="table__section mt-5">
        <div class="dropdown2" onclick="arrowRotate(arrow__down2)">
            <nav class="finnance__table rules__field opposite mt-4 no-margin" data-bs-toggle="collapse" data-bs-target="#second" aria-controls="second" aria-expanded="false" onclick="toggleDropdownContent()">
                <div>POLITYKA PRYWATNOŚCI</div>
                <button id="arrow__down2" class="button" type="button" aria-label="Toggle navigation">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                    </svg>
                </button>
            </nav>
            <div class="collapse mt-4" id="second">
                <div class="content__container">
                    <div class="bold">1. Wprowadzenie</div>
                    <p class="mt-2">
                        Niniejsza polityka prywatności dla strony Budget Manager ma na celu wyjaśnienie, jakie dane są zbierane od użytkownika, dlaczego je zbieramy oraz jak je przetwarzamy. Zapewniamy, że wszystkie zebrane dane są przetwarzane zgodnie z obowiązującymi przepisami o ochronie danych osobowych.
                    </p>
                    <div class="bold">2. Rodzaje oraz cel zbierania danych osobowych</div>
                    <p class ="mt-2">
                        Podczas korzystania z naszej strony, możemy zbierać następujące dane osobowe:<br />
                        •	Dane kontaktowe (adres e-mail oraz numer telefonu (opcjonalnie));<br />
                        •	Dane finansowe (informacje o operacjach, o&nbsp;stanach kont);<br />
                        •	Dane dotyczące preferencji budżetowych (kategorie operacji, cele oszczędności);<br />
                        Dane te są wykorzystywane w celu personalizacji i&nbsp;dostosowania treści na stronie, zarządzanie kontem użytkownika oraz zapewnienie mu bezpieczeństwa, analizy statystyk i&nbsp;trendów w&nbsp;celu doskonalenia naszych usług.
                    </p>
                    <div class="bold">3. Przetwarzanie danych osobowych</div>
                    <p class="mt-2">
                        Przetwarzanie danych jest możliwe tylko na podstawie zgody użytkownika lub w&nbsp;celu wykonywania usług (o&nbsp;ile jest to wymagane przez przepisy prawne). Dane nie są udostępniane ani sprzedawane stronom trzecim, z&nbsp;wyjątkiem przypadku wymagań prawnych.
                    </p>
                    <div class="bold">4. Bezpieczeństwo danych osobowych</div>
                    <p class="mt-2">
                        Na stronie Budget Manager dbamy o&nbsp;bezpieczeństwo danych osobowych i&nbsp;stosujemy odpowiednie środki techniczne w&nbsp;ceku ochrony danych przed ich utratą lub ujawnieniem.
                    </p>
                    <div class="bold">5. Pliki cookies</div>
                    <p class="mt-2">
                        Nasza strona może wykorzystywać pliki cookies do analizy zachowania użytkownika w&nbsp;celu usprawnienia usług strony.
                    </p>
                    <div class="bold">6. Zmiany w polityce prywatności</div>
                    <p class="mt-2">
                        W&nbsp;związku ze zmianami w&nbsp;przepisach prawnych lub zmienia prowadzonych przez nas usług, polityka prywatności może być okresowo aktualizowania. W&nbsp;związku z&nbsp;tym wersje polityki prywatności będą regularnie aktualizowane.
                    </p>
                    <div class="bold">7. Kontakt</div>
                    <p class="mt-2">
                        W&nbsp;razie jakichkolwiek pytań dotyczących polityki prywatności lub naszych praktykach ochrony danych, prosimy o kontakt za pośrednictwem info@budget.mamanger.com.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="table__section mt-5">
        <div class="dropdown2" onclick="arrowRotate(arrow__down3)">
            <nav class="finnance__table rules__field opposite mt-4 no-margin" data-bs-toggle="collapse" data-bs-target="#third" aria-controls="third" aria-expanded="false" onclick="toggleDropdownContent()">
                <div>ZASADY ANULOWANIA USŁUGI</div>
                <button id="arrow__down3" class="button" type="button" aria-label="Toggle navigation">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                    </svg>
                </button>
            </nav>
            <div class="collapse mt-4" id="third">
                <div class="content__container">
                    <div class="bold">1. Wprowadzenie</div>
                    <p class="mt-2">
                        Użytkownicy strony Budget Manager mają możliwość usunięcia swojego konta w&nbsp;dowolnym momencie. Proces usunięcia jest możliwy do przeprowadzenia samodzielnie w&nbsp;panelu użytkownika (po uprzednim zalogowaniu).
                    </p>
                    <div class="bold">2. Konsekwencje usunięcia konta</div>
                    <p class="mt-2">
                        Po usunięcia konta automatycznie usuwane są wszystkie dane związane z&nbsp;nim, między innymi historie transakcji oraz plany budżetowe. Proces ten jest nieodwracalny.
                    </p>
                    <div class="3. Zmiany w zasadach anulowania usług"></div>
                    <p class="mt-2">
                        W&nbsp;związku ze zmianami w&nbsp;przepisach prawnych lub zmienia prowadzonych przez nas usług, zasady anulowania usług mogą być okresowo aktualizowanie. W&nbsp;związku z&nbsp;tym zasady będą regularnie aktualizowane i&nbsp;udostępniane na stronie.
                    </p>
                    <div class="bold">3. Kontakt</div>
                    <p class="mt-2">
                        W razie jakichkolwiek pytań dotyczących zasad usuwania konta, prosimy o kontakt za pośrednictwem info@budget.manager.com.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="table__section mt-5">
        <div class="dropdown2" onclick="arrowRotate(arrow__down4)">
            <nav class="finnance__table rules__field opposite mt-4 no-margin" data-bs-toggle="collapse" data-bs-target="#fourth" aria-controls="fourth" aria-expanded="false" onclick="toggleDropdownContent()">
                <div>POLITYKA COOKIES</div>
                <button id="arrow__down4" class="button" type="button" aria-label="Toggle navigation">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                    </svg>
                </button>
            </nav>
            <div class="collapse mt-4" id="fourth">
                <div class="content__container">
                    <div class="bold">1. Wprowadzenie</div>
                    <p class="mt-2">
                        Niniejsza polityka cookies dla strony Budget Manager ma na celu wyjaśnienie, do czego używane są pliki cookies i&nbsp;w&nbsp;jaki sposób wykorzystujemy je do poprawy funkcjonowania aplikacji. Użytkownik podczas korzystania ze strony wyraża zgodę na używanie plików cookies zgodnie z&nbsp;tą polityką.
                    </p>
                    <div class="bold">2. Pliki cookies</div>
                    <p class="mt-2">
                        Pliki cookies to małe pliki tekstowe przechowywane na urządzeniu użytkownika podczas odwiedzania naszej strony internetowej. Wykorzystujemy je do usprawnienia działania aplikacji Budget Manager oraz zbierania informacji o&nbsp;aktywności użytkownika.
                    </p>
                    <div class="bold">3. Rodzaje plików cookies używanych na stronie</div>
                    <p class="mt-2">
                        •	Pliki cookies niezbędne do działania<br />
                        •	Pliki cookies analityczne<br />
                        •	Pliki cookies funkcjonalne<br />

                    </p>
                    <div class="bold">4. Zarządzanie plikami cookies</div>
                    <p class="mt-2">
                        Użytkownik ma możliwość zarządzania plikami cookies poprzez zmianę ustawień swojej przeglądarki internetowej. Wiele przeglądarek umożliwia zarządzanie plikami cookies na poziomie indywidualnych witryn. Wyłączenie plików cookies może wpłynąć na funkcjonalność i&nbsp;wygodę korzystania ze strony.
                    </p>
                    <div class="5. Zmiany w polityce cookies"></div>
                    <p class="mt-2">
                        Zastrzegamy sobie prawo do wprowadzania zmian w&nbsp;niniejszej Polityce Cookies w dowolnym czasie. Wszelkie zmiany będą publikowane na stronie Budget Manager.
                    </p>
                    <div class="6. Kontakt"></div>
                    <p class="mt-2">
                        W przypadku pytań dotyczących polityki cookies, prosimy o kontakt za pośrednictwem info@budget.manager.com.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="table__section mt-5">
        <div class="dropdown2" onclick="arrowRotate(arrow__down5)">
            <nav class="finnance__table rules__field opposite mt-4 no-margin" data-bs-toggle="collapse" data-bs-target="#fifth" aria-controls="fifth" aria-expanded="false" onclick="toggleDropdownContent()">
                <div>PRAWA AUTORSKIE</div>
                <button id="arrow__down5" class="button" type="button" aria-label="Toggle navigation">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                    </svg>
                </button>
            </nav>
            <div class="collapse mt-4" id="fifth">
                <div class="content__container">
                    <div class="bold">1. Zakres praw autorskich</div>
                    <p class="mt-2">
                        Wszelkie prawa autorskie oraz prawa własności intelektualnej do zawartości strony internetowej "Budget Manager" (dalej nazywanej "Stroną") oraz wszelkich jej podstron, w&nbsp;tym tekstów, grafik, zdjęć, ikon, logotypów, kodu źródłowego i&nbsp;innych materiałów, są zastrzeżone i&nbsp;przysługują właścicielowi Strony, chyba że wyraźnie zaznaczono inaczej.
                    </p>
                    <div class="bold">2. Użytkowanie indywidualne</div>
                    <p class="mt-2">
                        Użytkownicy Strony mają prawo do korzystania z&nbsp;jej zawartości wyłącznie w&nbsp;celach osobistych i&nbsp;niekomercyjnych.
                    </p>
                    <div class="bold">3. Zakaz modyfikacji i&nbsp;rozpowszechniania</div>
                    <p class="mt-2">
                        Zabrania się modyfikowania, kopiowania, reprodukowania, dystrybucji, publicznego wyświetlania lub rozpowszechniania zawartości Strony bez uprzedniej pisemnej zgody właściciela. Jakiekolwiek nieautoryzowane użycie materiałów Strony jest naruszeniem praw autorskich i&nbsp;może podlegać ściganiu prawnemu.
                    </p>
                    <div class="bold">4. Cytowanie</div>
                    <p class="mt-2">
                        Użytkownicy mają prawo do cytowania zawartości Strony w&nbsp;zakresie dozwolonego użytku cytatu, pod warunkiem podania źródła i&nbsp;autorstwa. Linki do Strony powinny prowadzić do jej oryginalnej lokalizacji i&nbsp;nie powinny być umieszczane w&nbsp;kontekstach wprowadzających w&nbsp;błąd.
                    </p>
                    <div class="bold">5. Treści użytkowników</div>
                    <p class="mt-2">
                        Wszelkie treści przesyłane lub udostępniane przez użytkowników na Stronie podlegają ochronie praw autorskich, a&nbsp;użytkownicy zachowują odpowiednie prawa do tych treści. Przesyłając treści na Stronę, użytkownicy udzielają właścicielowi Strony niewyłącznej, bezpłatnej licencji do korzystania, modyfikacji i&nbsp;rozpowszechniania tych treści na potrzeby funkcjonowania Strony. Właściciel Strony nie ponosi odpowiedzialności za naruszenie praw autorskich w&nbsp;wyniku działań użytkowników lub osób trzecich.
                    </p>
                    <div class="bold">Zmiany w prawach autorskich</div>
                    <p class="mt-2">
                        Zastrzegamy sobie prawo do wprowadzania zmian w&nbsp;niniejszym oświadczeniu o&nbsp;prawach autorskich w&nbsp;dowolnym czasie. Wszelkie zmiany będą publikowane na Stronie.
                    </p>
                    <div class="bold">6. Kontakt</div>
                    <p class="mt-2">
                        W&nbsp;przypadku pytań dotyczących praw autorskich lub innych kwestii związanych z&nbsp;zawartością Strony, prosimy o&nbsp;kontakt za pośrednictwem info@budget.manager.com.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="table__section mt-5">
        <div class="dropdown2" onclick="arrowRotate(arrow__down6)">
            <nav class="finnance__table rules__field opposite mt-4 no-margin" data-bs-toggle="collapse" data-bs-target="#sixth" aria-controls="sixth" aria-expanded="false" onclick="toggleDropdownContent()">
                <div>KONTAKT</div>
                <button id="arrow__down6" class="button" type="button" aria-label="Toggle navigation">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                    </svg>
                </button>
            </nav>
            <div class="collapse mt-4" id="sixth">
                <div class="content__container">
                    <p>
                        Strona internetowa "Budget Manager" została stworzona jako projekt inżynierski, prezentujący umiejętności naszego zespołu. Projekt ten powstał w&nbsp;celu zapewnienia użytkownikom narzędzia przydatnego do skutecznego zarządzania finansami osobistymi oraz budżetem domowym. Jest to rezultat wielu godzin pracy, testów i&nbsp;doskonalenia, dążących do stworzenia intuicyjnej i&nbsp;użytecznej platformy do kontroli budżetu.<br /><br />
                        Dane członków zespołu projektu:<br />
                        Grzegorz Wanat<br />
                        Mateusz Uryzaj<br />

                        Patrycja Wojtczak<br />
                        studenci Uniwersytetu WSB Merito na kierunku Informatyka.

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

    <script src="~/js/arrowRotate.js"></script>
