@page
@model ResetPasswordModel

@{
    Layout = "~/Views/Shared/_Layout_login.cshtml";
}

<div class="login__container__smaller">
    <div class="top__section__upper__home">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link text-light logo__holder__home">
            <div class="icon__holder__home">
                <img class="logo" src="/logoBM.png" alt="Budget plan icon">
            </div>
        </a>
    </div>
</div>
<div class="login__container__bigger">
    <div class="row login__section">
        <section class="login__frame">
            <form method="post">
                <h2 class="standard__header">Resetowanie hasła</h2>
                <input asp-for="Input.Code" type="hidden" />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="input__label mb-3">
                    <h3 class="login__label">
                        Email
                    </h3>
                </div>
                <div class="form-floating mb-4">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="jankowalski@poczta.pl" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="input__label mb-3">
                    <h3 class="login__label">
                        Hasło
                    </h3>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="**********" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="input__label mb-3">
                    <h3 class="login__label">
                        Powtórz hasło
                    </h3>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg login__button__main">Resetuj hasło</button>
                </div>
            </form>         
        </section>
    </div>
    </div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
