@model 			Saving

@{
    ViewData["Title"] = "DODAJ CEL";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form__container__smaller d-sm-flex d-md-flex d-lg-flex d-xl-none d-xxl-none">
    <div class="sm-form-holder">
        <div class="row login__section">
            <section class="login__frame">
                <form asp-action="Create" method="post">
                    <div class="form-group">
                        <input asp-for="Value" type="number" class="form-control" value="0" type="hidden" />
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="input__label mb-3">
                        <h3 class="login__label">
                            Nazwa
                        </h3>
                    </div>
                    <div class="form-floating-sm mb-3">
                        <input id="NAME" asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="input__label mb-3">
                        <h3 class="login__label">
                            Kwota
                        </h3>
                    </div>
                    <div class="form-floating-sm mb-3">
                        <input asp-for="AimValue" type="number" class="form-control" />
                        <span asp-validation-for="AimValue" class="text-danger"></span>
                    </div>
                    <div class="input__label mb-3">
                        <h3 class="login__label">
                            Źródło finansowania
                        </h3>
                    </div>
                    <div class="form-floating-sm mb-3">
                        @Html.DropDownList("BudgetId", (IEnumerable<SelectListItem>)ViewBag.Accounts, null, new { @class ="form-control" })
                        <span asp-validation-for="BudgetId" class="text-danger"></span>
                        <a asp-controller="Account" asp-action="Create" class="control-label italic grey">Dodaj nowe konto.</a>
                    </div>
                    <div class="input__label mb-3">
                        <h3 class="login__label">
                            Dodatkowe informacje
                        </h3>
                    </div>
                    <div class="form-floating-sm mb-3">
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <button id="login-submit" type="submit" class="w-100 btn btn-lg login__button__main">Dodaj</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>

<div class="standard__form sm-none d-sm-none d-md-none d-lg-none d-xl-flex d-xxl-flex">
    <div class="form__frame">
		<div class="x__section">
			<a asp-action="Index" class="x-button">X</a>
		</div>
		<h5 class="header__data__form mt-4 mb-5">Dodaj nowy cel</h5>
		<form asp-action="Create" class="form__section">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<input asp-for="Value" type="number" class="form-control" value="0" type="hidden" />
			</div>
			<div class="form-group half">
				<label asp-for="Name" class="control-label m__left">Nazwa</label>
				<input asp-for="Name" class="form-control dual" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group half">
				<label asp-for="AimValue" class="control-label m__left">Kwota</label>
				<input asp-for="AimValue" type="number" class="form-control dual" />
				<span asp-validation-for="AimValue" class="text-danger"></span>
			</div>
			<div class="form-group half">
				<label asp-for="BudgetId" class="control-label m__left">Źródło finansowania</label>
				@Html.DropDownList("BudgetId", (IEnumerable<SelectListItem>)ViewBag.Accounts, null, new { @class ="form-control dual" })
				<span asp-validation-for="BudgetId" class="text-danger"></span>
				<a asp-controller="Account" asp-action="Create" class="control-label m__left italic grey">Dodaj nowe konto.</a>
			</div>
			<div class="form-group half">
				<label asp-for="Description" class="control-label m__left">Dodatkowe informacje</label>
				<input asp-for="Description" class="form-control dual" />
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group mb-4">
				<input type="submit" value="Dodaj" class="form__button" />
			</div>
		</form>
	</div>

	@section Scripts {
		@{
			await Html.RenderPartialAsync("_ValidationScriptsPartial");
		}
	}
</div>

