<div class="pos-f-t w-100 none menu-background">
    <nav class="navbar navbar-dark nav-blue w-100">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link text-light logo__holder__home m-left">
            <div class="icon__holder__home">
                <img class="logo__dropdown" src="/logoBM.png" alt="Budget plan icon">
            </div>
        </a>
        <button class="navbar-toggler m-right" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="collapse collapse-blue" id="navbarToggleExternalContent">
        <div class="w-100">
            <partial name="_LoginPartialWhite" />
        </div>
    </div>
</div>

